/* styles.css */

body {
    color: rgb(131, 51, 51);
    background-color: rgb(247, 237, 224);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
html {
    background-color: aliceblue;
}
li, .more { 
    background-color: rgb(228, 169, 113);
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
    border-style: solid;
    border-radius: 30px;
    border-color: aliceblue;
}

img {
    background-color: aliceblue;
    padding: 15px;
    border-style: solid;
    border-radius: 30px;
    border-color: aliceblue;
}

a {
    color: aliceblue;
}